@page "/Settings/gadget/list/{SectionId:guid}"
@using sp.iot.core
@inject SettingsClient SettingsClient
 
<h1> <b>@Section?.Name</b> Gadgets</h1>

 <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Definition</th>
                <th>Status</th>
                <th>Value</th>
                <th>ComplexValue</th>
                <th>SectionPosition</th>
                <th></th>
                <th></th>
                 
            </tr>
        </thead>
        <tbody>
        @if (settings == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            @foreach (var item in Section.Gadgets)
            {
                <tr>
                    <td><NavLink href="@($"settings/gadget/modify/{SectionId}/{item.Id}")">@item.Name</NavLink></td>                
                    <td>(@settings.FindGadgetDefinition(@item.Definition)?.Type) @settings.FindGadgetDefinition(@item.Definition)?.Name</td>
                    <td>@item.Status</td>
                    <td>@item.Value</td>
                    <td>@item.ComplexValue</td>
                    <td>@item.SectionPosition</td>
                    <td><a href="@($"settings/gadget/actions/list/{item.Id}")" class="btn btn-secondary" role="button" aria-pressed="true">Actions (@item.Actions.Count)</a> </td>
                    <td><a href="@($"settings/gadget/delete/{item.Id}")" class="btn btn-light" role="button" aria-pressed="true">Delete</a> </td>
                </tr>
            }
        }
        </tbody>
    </table>

    <a role="button" class="btn btn-primary" href="@($"settings/gadget/modify/{SectionId}/{Guid.NewGuid()}")">New Gadget</a>

    <BackButtonComponent BaseReturnUrl="@($"/settings/section/list/{Section?.Parent}")" />

@code {
    [Parameter]
    public Guid SectionId { get; set; }

    public Section Section { get; set; }

    private Settings settings = null;

    protected override async Task OnParametersSetAsync()
    {
        settings = await SettingsClient.GetAsync();
        Section = settings.FindSection(SectionId);
    }

}
